/* Import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Merriweather, serif;
}

/* Linear gradient background color for body */
body {
    background-image: linear-gradient(
        180deg,
        hsl(171deg 100% 20%) 0%,
        hsl(173deg 97% 28%) 11%,
        hsl(174deg 93% 35%) 22%,
        hsl(176deg 89% 43%) 33%,
        hsl(177deg 86% 51%) 44%,
        hsl(179deg 82% 58%) 56%,
        hsl(180deg 79% 66%) 67%,
        hsl(181deg 75% 74%) 78%,
        hsl(183deg 73% 81%) 89%,
        hsl(185deg 68% 89%) 100%
    );
}

/* Style header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #1f2937;
    padding: 20px 40px;
}

/* Style left side content in header */
.logo {
    display: flex;
}

.logo-image {
    width: 30px;
    height: 30px;
}

.logo-text {
    font-size: 1.5rem;
    font-family: "Work Sans", sans-serif;
}

/* Style right side links in header */
.links ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

.links a {
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
}

.links a:hover {
    color: #f5426c;
    font-size: 1.2rem;
}

/* Style hero section */
.hero {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hero,
.paintings {
    padding: 48px;
}

.hero-content,
.hero-image {
    width: 500px;
    height: 300px;
}

.hero-title,
.heading-title {
    font-family: "Work Sans", sans-serif;
}

.hero-text {
    line-height: 1.4;
    margin: 10px 0;
}

.hero-content button {
    background-color: #3882f6;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.05rem;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Style paintings section */
.paintings {
    padding: 48px;
}

.heading {
    text-align: center;
}

.heading-title,
.heading-text {
    padding-bottom: 20px;
}

.samples {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.painting {
    width: 220px;
    height: 350px;
}

/* Style images */
.image {
    width: 220px;
    height: 220px;
    border: 2px solid black;
    outline: 5px solid #5c5c5c;
    margin-bottom: 10px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.painting-description {
    text-align: center;
    font-size: 0.8rem;
}

/* Style testimonial section */
.testimonial {
    background-color: #e5e7eb;
    padding: 48px 256px;
}

blockquote {
    padding-left: 50px;
    font-style: italic;
    font-size: 1.3em;
    font-weight: 200;
    border-left: 5px solid #5c5c5c;
}

.name {
    text-align: right;
    font-weight: 700;
}

/* Style sign-up section */
.sign-up {
    padding: 48px;
    display: flex;
    justify-content: center;
}

.sign-up-container {
    background-color: #3882f6;
    padding: 24px 48px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-around;
}

.sign-up-text {
    line-height: 1.5em;
    padding: 0 48px;
}

.sign-up-container button {
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 1.1em;
    cursor: pointer;
}

/* Style footer */
.footer {
    background-color: #1f2937;
    color: white;
    padding: 15px;
    text-align: center;
}
