@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Merriweather, serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #1F2937;
    padding: 20px 40px;   
}

.logo {
    display: flex;
}

.logo-image {
    width: 30px;
    height: 30px;
}

.logo-text {
    font-size: 1.5rem;
    font-family: 'Work Sans', sans-serif; 
}

.links ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

.links a {
    font-family: 'Work Sans', sans-serif; 
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
}

.links a:hover {
    color: #f5426c;
    font-size: 1.2rem;
}

.hero {
    padding: 48px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hero-content,
.hero-image {
    width: 500px;
    height: 300px;
}

.hero-title,
.heading-title {
    font-family: 'Work Sans', sans-serif;
}

.hero-text {
    line-height: 1.4;
    margin: 10px 0;
}

.hero-content button {
    background-color: #4682b4;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.05rem;
}

.hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.paintings {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    padding: 48px;
}

.heading {
    text-align: center;
}

.heading-title,
.heading-text {
    padding-bottom: 20px;
}

.samples {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.painting {
    width: 220px;
    height: 450px;
}

.image {
    width: 220px;
    height: 220px;
    border: 2px solid black;
    outline: 5px solid #5c5c5c;
    margin-bottom: 10px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.painting-description {
    text-align: center;
    font-size: 0.8rem;
}
